<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">
   
  <bean class=" org.springframework.jdbc.datasource.DriverManagerDataSource" 
  		id="dsource" p:driverClassName="com.mysql.cj.jdbc.Driver"
  		p:url="jdbc:mysql://localhost:3306/student"    
  		p:username="root"   
  		p:password="root"  /> 
 
  <bean class="com.spring.jdbc.entities.Student" id="std1" p:name="rohan" p:city="bihar"/>
<!--   <bean class="com.spring.jdbc.entities.Student" id="std2" p:name="birju" p:city="up" p:id="4"/> -->
<!--   <bean class="com.spring.jdbc.entities.Student" id="std3" p:id="5"/> -->
  
  
  <bean  class="org.springframework.jdbc.core.JdbcTemplate" id="temp1" p:dataSource-ref="dsource"/>
  
  <bean class="com.spring.jdbc.dao.StudentDaoImpl" id="studentDao" p:jdbcTemplate-ref="temp1"/>
  
  </beans>